mat-card{
  height: 117px;
  width: 320px;
  background-color: #FFFFFF;
  border: 1px solid #B3B2B5;
  border-radius: 8px;
}

mat-card-header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;



  a{
    color: #000000;
    font-weight: 600;
    font-size: 18px;
  }
}

mat-card-actions{
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 18px;
  mat-icon{
    font-size: 22px;
    cursor: pointer;
  }
}

mat-card-content{
  font-weight: 400;
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 15px;
}
