div{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 16px;
}

mat-grid-list {
  margin-top: 10px;
  
}

mat-icon.active {
  pointer-events: none;
}


mat-icon.inactive {
  color: gray;
  cursor: pointer;
  opacity: 20%;
}




