table {
  width: 100%;
  margin-top: 10px;
  
  th {
    background-color: #460073;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 12px;
    border: 1px solid #837F89;   }

  td {
    padding: 12px;
    border: 1px solid #837F89; 
    background-color: #FFFFFF;
    font-size: 16px;
    a{
      color: #000000;
    }

    div{
      display: flex;
      justify-content: space-evenly;
    }
    
  }

  mat-icon {
    cursor: pointer;

  }
}
